.nav.navbar-nav.main-nav {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
}

.nav.navbar-nav.main-nav {
  list-style: disc outside;
  list-style-type: disc;
  list-style-position: outside;
  list-style-image: initial;
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
}

.navbar-nav > li {
  list-style-type: none;
  float: left;
  padding: 0;
  line-height: 50px;
  height: 50px;
  margin: 0;
}

.navbar.navbar-default {
  background: black;
}

.navbar-default .navbar-nav > li > a {
  color: white;
}

.navbar-default .navbar-nav > li > a:hover {
  background: #f64c3b;
  color: #fff;
  text-decoration: none;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
  color: #f4e7e7;
  background: #f64c3b;
  text-decoration: none;
  font-size: 13px;
  font-weight: 400;
  display: inline-block;
  margin: 0;
  text-align: center;
  transition: all .3s;
}

#menu {
  margin-left: 0px;
  margin-right: 0px;
  min-width: 100%;
}

@media (min-width: 300px) {
  .navbar.navbar-light.navbar-expand-md.navigation-clean.fixed-top {
    min-height: 80px;
  }
}

.container {
  margin-left: 0px;
  margin-right: 0px;
  min-width: 100%;
  text-align: center;
}

card-casa {
  flex: 1 250px;
  padding: 2px 5px 2px 5px;
  margin-right: 10px;
  margin-left: 2px;
  margin-top: 2px;
}

.btn-ver {
  width: 100%;
  bottom: 0px;
}

.col-md-4.card {
  min-width: 30%;
  margin-right: 2%;
}

card-casa {
  margin-left: 5px;
}

@media (min-width: 768px) {
  .card-casa {
    max-width: 45%;
  }
}

@media (min-width: 992px) {
  .card-casa {
    max-width: 30%;
  }
}

@media (min-width: 1200px) {
  .card-casa {
    max-width: 22%;
  }
}

.card-casa {
  padding-right: 0px;
  padding-left: 0px;
  margin-right: 1%;
  margin-left: 1%;
  margin-bottom: 2%;
}

#Intro {
  margin-bottom: 4%;
}

.btn-ver {
  font-size: 20px;
  width: 150px;
  margin-bottom: 10px;
}

