div.jumbotron.hero-technology {
  color: #fff;
  text-align: center;
  background: url('../../assets/img/pexels-david-mcbee-1546166.jpg');
  background-size: cover;
  background-position: center top;
  padding-top: 100px;
  padding-bottom: 100px;
  background-attachment: local;
}

h1.hero-title, h2.hero-title, h3.hero-title {
  text-shadow: 0 2px 2px rgba(0,0,0,0.3);
  color: #fff;
  font-weight: 500;
}

p.hero-subtitle {
  max-width: 600px;
  margin: 25px auto;
  padding: 10px 15px;
  background-color: rgba(0,0,0,0.1);
  color: #fff;
  text-shadow: 0 1px 1px rgba(0,0,0,0.7);
  font-weight: 500;
}

