$yellow: #FFF;

@mixin margenes($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}

.prueba {
    padding: 50px 0;
    background-color: $yellow;
    color: $yellow;
    @include margenes(50px, 50px);
}